body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffedf; /* Pastel Yellow */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000; /* Black text */
}

.container {
    text-align: center;
    background-color: #fffedf; /* Pastel Yellow */
    padding: 20px;
    border-radius: 8px;
    
}

p.tip {
    font-size: 18px;
    color: #000000;
    margin: 0; /* Remove default margin */
    display: inline-block; /* Make sure the tip number and content are on the same line */
}

/* Add any additional styling as needed */
